<?xml version="1.0" encoding="utf-8"?>
<Content Key="598bc219-03fa-4f46-8630-1a8323becc1d" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2022-06-01T07:40:33</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="856e190c-f85c-4935-8ee6-afafbdcf0baa">Home</Template>
    <IsBlueprint>true</IsBlueprint>
  </Info>
  <Properties>
    <address>
      <Value><![CDATA[123 Street, New York]]></Value>
    </address>
    <carouselSlider>
      <Value><![CDATA[umb://document/672a87f84e4547229e16db57b3123fcb]]></Value>
    </carouselSlider>
    <copyrightText>
      <Value><![CDATA[2022. i-Cream]]></Value>
    </copyrightText>
    <facebook>
      <Value><![CDATA[https://www.facebook.com]]></Value>
    </facebook>
    <linkedIn>
      <Value><![CDATA[https://www.linkedin.com]]></Value>
    </linkedIn>
    <logo>
      <Value><![CDATA[[]]]></Value>
    </logo>
    <openingHours>
      <Value><![CDATA[<p>Mon - Sat, 8AM - 5PM</p>
<p>Sunday: Closed</p>]]></Value>
    </openingHours>
    <phone>
      <Value><![CDATA[+012 345 67890]]></Value>
    </phone>
    <twitter>
      <Value><![CDATA[https://www.twitter.com]]></Value>
    </twitter>
  </Properties>
</Content>