<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c7c99527-0d7c-428f-920a-4b2328ecf7a8" Alias="Carousel Image Cropper" Level="1">
  <Info>
    <Name>Carousel Image Cropper</Name>
    <EditorAlias>Umbraco.ImageCropper</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "thumbnail",
      "width": 200,
      "height": 200
    },
    {
      "alias": "carouselImage",
      "width": 1366,
      "height": 800
    },
    {
      "alias": "square",
      "width": 400,
      "height": 400
    }
  ]
}]]></Config>
</DataType>