<?xml version="1.0" encoding="utf-8"?>
<DataType Key="390aa4c3-9db7-4cd7-89dc-55cc1e3202e7" Alias="Product Image Cropper" Level="1">
  <Info>
    <Name>Product Image Cropper</Name>
    <EditorAlias>Umbraco.ImageCropper</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "ProductImage",
      "width": 150,
      "height": 150
    },
    {
      "alias": "square",
      "width": 200,
      "height": 200
    }
  ]
}]]></Config>
</DataType>