@inherits Umbraco.Web.Mvc.UmbracoViewPage<UmbracoTraining.Models.ProductContentModel>
    @using ContentModels = Umbraco.Web.PublishedModels;
    @{
    Layout = "Masterpage.cshtml";
    }

    <H2>
        @Model.Content.Value("productName")
    </H2>
    <span>Price: @Model.GSTPrice</span>
