<?xml version="1.0" encoding="utf-8"?>
<Media Key="4971f9ad-08e6-46ae-86d5-1e2306fb30c0" Alias="404 Error With Character Error Design Template Vector 20568716" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ErrorWithCharacterErrorDesignTemplateVector20568716</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-06-03T09:13:06</CreateDate>
    <NodeName Default="404 Error With Character Error Design Template Vector 20568716" />
    <SortOrder>28</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/vp2hcspg/404-error-with-character-error-design-template-vector-20568716.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>