<?xml version="1.0" encoding="utf-8"?>
<Media Key="181fdf18-8d23-4488-bbba-7fea75abca17" Alias="About" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/About</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-05-31T06:32:21</CreateDate>
    <NodeName Default="About" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/d1pb4gbd/about.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>