<?xml version="1.0" encoding="utf-8"?>
<Media Key="bad3ddd3-e657-4df2-8175-52427261fc50" Alias="New Icecream Blog Article" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/NewIcecreamBlogArticle</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2022-05-31T08:31:52</CreateDate>
    <NodeName Default="New Icecream Blog Article" />
    <SortOrder>27</SortOrder>
  </Info>
  <Properties />
</Media>