<?xml version="1.0" encoding="utf-8"?>
<Media Key="1e7a155e-fae8-4619-8336-01a238a87924" Alias="New Blog Article" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/NewBlogArticle</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2022-05-31T08:08:49</CreateDate>
    <NodeName Default="New Blog Article" />
    <SortOrder>24</SortOrder>
  </Info>
  <Properties />
</Media>