<?xml version="1.0" encoding="utf-8"?>
<Media Key="cd4e95e2-e4ca-47c4-9c7b-3f05f08a4e80" Alias="Portfolio 4" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Portfolio4</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-05-31T06:32:24</CreateDate>
    <NodeName Default="Portfolio 4" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/2skf3tok/portfolio-4.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>