<?xml version="1.0" encoding="utf-8"?>
<Media Key="850e7fe2-df76-4905-bb30-50d842bab0e3" Alias="Portfolio 5" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Portfolio5</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-05-31T06:32:25</CreateDate>
    <NodeName Default="Portfolio 5" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/2r5b3blw/portfolio-5.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>