<?xml version="1.0" encoding="utf-8"?>
<Media Key="cf673d7e-cdee-4ba1-ba9f-2bbb1ee08ac3" Alias="Portfolio 1" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Portfolio1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-05-31T06:32:23</CreateDate>
    <NodeName Default="Portfolio 1" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/pa4hpt5o/portfolio-1.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>