<?xml version="1.0" encoding="utf-8"?>
<Media Key="085c452f-fc16-4c33-b4e6-a5d416d17fb3" Alias="Portfolio 2" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Portfolio2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-05-31T06:32:24</CreateDate>
    <NodeName Default="Portfolio 2" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/ffcfycaw/portfolio-2.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>