<?xml version="1.0" encoding="utf-8"?>
<Media Key="c9ce4f9d-1476-4144-aefb-deeeff335bf7" Alias="Portfolio 3" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Portfolio3</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-05-31T06:32:24</CreateDate>
    <NodeName Default="Portfolio 3" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/tnhn3slw/portfolio-3.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>