<?xml version="1.0" encoding="utf-8"?>
<Media Key="9bcb2a59-ce26-4793-a0b2-24e4ac9e39d8" Alias="Portfolio 6" Level="2">
  <Info>
    <Parent Key="61fd7878-ed71-4a04-b0a3-8483af0e4b6e">Site Images</Parent>
    <Path>/SiteImages/Portfolio6</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-05-30T14:02:28</CreateDate>
    <NodeName Default="Portfolio 6" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/l2vmxgzg/portfolio-6.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>