<?xml version="1.0" encoding="utf-8"?>
<Media Key="dac90d6f-b3b6-40cb-9c9c-73ae24d6f0eb" Alias="portfolio-4.jpg" Level="2">
  <Info>
    <Parent Key="bad3ddd3-e657-4df2-8175-52427261fc50">New Icecream Blog Article</Parent>
    <Path>/NewIcecreamBlogArticle/portfolio4Jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-05-31T08:31:52</CreateDate>
    <NodeName Default="portfolio-4.jpg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/negntwvw/portfolio-4.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>