<?xml version="1.0" encoding="utf-8"?>
<Media Key="c1f99070-0e5e-484b-a4c2-35fd7b826244" Alias="Product 4" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Product4</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-05-31T06:32:27</CreateDate>
    <NodeName Default="Product 4" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/o0iptqk4/product-4.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>