<?xml version="1.0" encoding="utf-8"?>
<Media Key="00358310-e309-4bf7-a268-5edab43d941f" Alias="Product 3" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Product3</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-05-31T06:32:26</CreateDate>
    <NodeName Default="Product 3" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/c0bdkaaj/product-3.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>