<?xml version="1.0" encoding="utf-8"?>
<Media Key="ac8371b5-d15e-4bef-badf-9d831e1bde00" Alias="product-4.jpg" Level="2">
  <Info>
    <Parent Key="a6545ff8-483c-414f-a9c6-c675f3f83cd8">test blog article </Parent>
    <Path>/testBlogArticle/product4Jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-05-31T08:29:05</CreateDate>
    <NodeName Default="product-4.jpg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/wnyjhlc4/product-4.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>