<?xml version="1.0" encoding="utf-8"?>
<Media Key="494c8b62-e18a-4379-8ab9-541f7f331515" Alias="product-4.jpg" Level="2">
  <Info>
    <Parent Key="3c514b96-b612-4b6b-ba62-bdb3acf3b80e">test content article</Parent>
    <Path>/testContentArticle/product4Jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-05-31T08:04:36</CreateDate>
    <NodeName Default="product-4.jpg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/msffysmk/product-4.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>