<?xml version="1.0" encoding="utf-8"?>
<Media Key="6db4daa2-feb6-4c41-ad9a-5989b9e88045" Alias="Service 4" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Service4</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-05-31T06:32:29</CreateDate>
    <NodeName Default="Service 4" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/utnli1nw/service-4.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>