<?xml version="1.0" encoding="utf-8"?>
<Media Key="61fd7878-ed71-4a04-b0a3-8483af0e4b6e" Alias="Site Images" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SiteImages</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2022-05-31T06:32:43</CreateDate>
    <NodeName Default="Site Images" />
    <SortOrder>20</SortOrder>
  </Info>
  <Properties />
</Media>