<?xml version="1.0" encoding="utf-8"?>
<Media Key="15e7ecbc-c5ce-4472-b2ad-0e0839c937dc" Alias="test article" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/testArticle</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2022-05-31T08:16:35</CreateDate>
    <NodeName Default="test article" />
    <SortOrder>25</SortOrder>
  </Info>
  <Properties />
</Media>