<?xml version="1.0" encoding="utf-8"?>
<Media Key="3c514b96-b612-4b6b-ba62-bdb3acf3b80e" Alias="test content article" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/testContentArticle</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2022-05-31T08:04:30</CreateDate>
    <NodeName Default="test content article" />
    <SortOrder>23</SortOrder>
  </Info>
  <Properties />
</Media>