<?xml version="1.0" encoding="utf-8"?>
<Media Key="a6545ff8-483c-414f-a9c6-c675f3f83cd8" Alias="test blog article " Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/testBlogArticle</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2022-05-31T08:29:05</CreateDate>
    <NodeName Default="test blog article " />
    <SortOrder>26</SortOrder>
  </Info>
  <Properties />
</Media>