<?xml version="1.0" encoding="utf-8"?>
<Media Key="63d46cf5-7d74-415c-9744-e1d07f9cf800" Alias="test article new" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/testArticleNew</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2022-05-31T07:59:32</CreateDate>
    <NodeName Default="test article new" />
    <SortOrder>21</SortOrder>
  </Info>
  <Properties />
</Media>