<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="dc7d87ee-4ca5-4e09-a551-d8ab2ad69d57" Alias="articleCollection" Level="1">
  <Info>
    <Name>Article Collection</Name>
    <Icon>icon-folders color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>ArticleCollection</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="cc74906f-8ca6-46f0-a82f-9c26c8e2e802">ArticleCollection</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="c02196a6-87c9-4bde-96c9-3dc3919ffcc4" SortOrder="0">article</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>