<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ef41b272-cf72-4c2b-ac50-f65ff332e80e" Alias="products" Level="1">
  <Info>
    <Name>Products</Name>
    <Icon>icon-item-arrangement color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>Products</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="33c8345c-1b48-48a1-ac0f-3fb6f7778a4d">Products</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="54a7c9e7-2b5c-4076-a2d8-57e169e13b76" SortOrder="0">product</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>83a7cbdb-53f2-40d9-bdd1-ef75b5fa3344</Key>
      <Name>PageBody</Name>
      <Alias>pageBody</Alias>
      <Definition>aa6d93ba-f043-468b-9e9c-287c498c616c</Definition>
      <Type>Umbraco.Grid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
      <Alias>content</Alias>
      <Type>Group</Type>
    </Tab>
  </Tabs>
</ContentType>