<?xml version="1.0" encoding="utf-8"?>
<Content Key="3880621c-a9db-4614-8ef4-360dca1cc532" Alias="404" Level="2">
  <Info>
    <Parent Key="ae96bc4a-d0e5-4f17-b6bf-38c31d529773">Home</Parent>
    <Path>/Home/</Path>
    <Trashed>false</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2022-06-03T09:13:24</CreateDate>
    <NodeName Default="404">
      <Name Culture="en-us">404</Name>
    </NodeName>
    <SortOrder>6</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="3b2c3037-bc52-4e71-a698-0fcfe6a1ae0b">Page</Template>
  </Info>
  <Properties>
    <pageBody>
      <Value Culture="en-us"><![CDATA[{
  "name": "One Column",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "Headline",
          "id": "3bf40dc5-cd6c-445b-aee5-4bb1ec08eb4e",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": "ERROR",
                  "editor": {
                    "alias": "headline",
                    "view": "textstring"
                  },
                  "styles": null,
                  "config": null
                },
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.14483637001939423,
                      "top": 0.2343810630185594
                    },
                    "id": 1153,
                    "udi": "umb://media/4971f9ad08e646ae86d51e2306fb30c0",
                    "image": "/media/vp2hcspg/404-error-with-character-error-design-template-vector-20568716.jpg"
                  },
                  "editor": {
                    "alias": "media",
                    "view": "media"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </pageBody>
    <richText>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </richText>
  </Properties>
</Content>