<?xml version="1.0" encoding="utf-8"?>
<Content Key="ef203713-c178-4864-97cf-0e53b7882657" Alias="AboutUs" Level="2">
  <Info>
    <Parent Key="ae96bc4a-d0e5-4f17-b6bf-38c31d529773">Home</Parent>
    <Path>/Home/AboutUs</Path>
    <Trashed>false</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2022-05-30T14:01:10</CreateDate>
    <NodeName Default="AboutUs" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3b2c3037-bc52-4e71-a698-0fcfe6a1ae0b">Page</Template>
  </Info>
  <Properties>
    <pageBody>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "Headline",
          "id": "496badaa-e4c8-49b0-85c7-701601bfa3a9",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": "About Us",
                  "editor": {
                    "alias": "headline",
                    "view": "textstring"
                  },
                  "styles": null,
                  "config": null
                },
                {
                  "value": "<p>Accenture is leading Software &amp; Consultancy company.</p>",
                  "editor": {
                    "alias": "rte",
                    "view": "rte"
                  },
                  "styles": null,
                  "config": null
                },
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 1091,
                    "udi": "umb://media/f99f8b9a078a440e80eccc5462aedfe8",
                    "image": "/media/tsfj54mk/header.jpg"
                  },
                  "editor": {
                    "alias": "media",
                    "view": "media"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        },
        {
          "name": "Article",
          "id": "07612e7c-7086-4435-bdd4-940bfb80b301",
          "areas": [
            {
              "grid": "4",
              "controls": [
                {
                  "value": "Some Quotation",
                  "editor": {
                    "alias": "quote",
                    "view": "textstring"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            },
            {
              "grid": "8",
              "controls": [
                {
                  "value": "<p>test</p>",
                  "editor": {
                    "alias": "rte",
                    "view": "rte"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        },
        {
          "name": "Headline",
          "id": "8040e5cb-47f3-4f3c-9a7f-bf72ac702a29",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": "<p>text goes here</p>",
                  "editor": {
                    "alias": "rte",
                    "view": "rte"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        },
        {
          "name": "Headline",
          "id": "5b330982-05fb-4a6a-a51c-f2da0749946e",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": "test",
                  "editor": {
                    "alias": "headline",
                    "view": "textstring"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </pageBody>
    <richText>
      <Value><![CDATA[]]></Value>
    </richText>
  </Properties>
</Content>