<?xml version="1.0" encoding="utf-8"?>
<Content Key="938d11b8-e150-4f01-8caf-5d8c231350d1" Alias="Articles" Level="2">
  <Info>
    <Parent Key="ae96bc4a-d0e5-4f17-b6bf-38c31d529773">Home</Parent>
    <Path>/Home/Articles</Path>
    <Trashed>false</Trashed>
    <ContentType>articleCollection</ContentType>
    <CreateDate>2022-05-31T07:29:29</CreateDate>
    <NodeName Default="Articles" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="cc74906f-8ca6-46f0-a82f-9c26c8e2e802">ArticleCollection</Template>
  </Info>
  <Properties />
</Content>