<?xml version="1.0" encoding="utf-8"?>
<Content Key="40a2d9b7-2d79-4687-a76c-a3584a692596" Alias="Articles" Level="102">
  <Info>
    <Parent Key="0068a06c-1977-4faf-b092-8a6a9853eb8a">DE Home</Parent>
    <Path>/[-20]/DEHome/Articles</Path>
    <Trashed Parent="0068a06c-1977-4faf-b092-8a6a9853eb8a">true</Trashed>
    <ContentType>articleCollection</ContentType>
    <CreateDate>2022-06-03T08:01:55</CreateDate>
    <NodeName Default="Articles" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="cc74906f-8ca6-46f0-a82f-9c26c8e2e802">ArticleCollection</Template>
  </Info>
  <Properties />
</Content>