<?xml version="1.0" encoding="utf-8"?>
<Content Key="06ccb0b3-f3e0-474d-952b-32d8e3cbb328" Alias="Carousel 2" Level="3">
  <Info>
    <Parent Key="672a87f8-4e45-4722-9e16-db57b3123fcb">Carousel Folder</Parent>
    <Path>/Data/CarouselFolder/Carousel2</Path>
    <Trashed>false</Trashed>
    <ContentType>carousel</ContentType>
    <CreateDate>2022-05-30T14:13:06</CreateDate>
    <NodeName Default="Carousel 2" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <backgroundImage>
      <Value><![CDATA[[{"key":"e5e057c4-11d6-4277-b8c1-8d06f8c54a2a","mediaKey":"f951cfcf-1f53-4abe-ac73-28a9b93c7d3b"}]]]></Value>
    </backgroundImage>
    <callToActionLink>
      <Value><![CDATA[umb://document/8c1c68fd247e4458bfd07dacd25015fa]]></Value>
    </callToActionLink>
    <callToActionText>
      <Value><![CDATA[Learn More]]></Value>
    </callToActionText>
    <heading>
      <Value><![CDATA[Traditional Ice Cream Since 1950]]></Value>
    </heading>
    <subHeading>
      <Value><![CDATA[TRADITIONAL & DELICIOUS]]></Value>
    </subHeading>
  </Properties>
</Content>