<?xml version="1.0" encoding="utf-8"?>
<Content Key="716170f1-7d94-4b87-847c-6df43d29af69" Alias="Carousel 1" Level="3">
  <Info>
    <Parent Key="672a87f8-4e45-4722-9e16-db57b3123fcb">Carousel Folder</Parent>
    <Path>/Data/CarouselFolder/Carousel1</Path>
    <Trashed>false</Trashed>
    <ContentType>carousel</ContentType>
    <CreateDate>2022-05-30T14:12:18</CreateDate>
    <NodeName Default="Carousel 1" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <backgroundImage>
      <Value><![CDATA[[{"key":"9ae3b089-6b50-4bbd-aa35-914a601b3bb4","mediaKey":"28ccd967-05eb-43f0-8c3c-a64af7797caa"}]]]></Value>
    </backgroundImage>
    <callToActionLink>
      <Value><![CDATA[umb://document/8c1c68fd247e4458bfd07dacd25015fa]]></Value>
    </callToActionLink>
    <callToActionText>
      <Value><![CDATA[Learn More]]></Value>
    </callToActionText>
    <heading>
      <Value><![CDATA[Made From Our Own Organic Milk]]></Value>
    </heading>
    <subHeading>
      <Value><![CDATA[TRADITIONAL & DELICIOUS]]></Value>
    </subHeading>
  </Properties>
</Content>