<?xml version="1.0" encoding="utf-8"?>
<Content Key="28662439-553b-4e37-aa3e-6e5a8da84731" Alias="Cherry Ice Cream" Level="103">
  <Info>
    <Parent Key="49cf5adb-e350-4bf4-9f31-0fff987239f2">Products</Parent>
    <Path>/[-20]/DEHome/Products/CherryIceCream</Path>
    <Trashed Parent="49cf5adb-e350-4bf4-9f31-0fff987239f2">true</Trashed>
    <ContentType>product</ContentType>
    <CreateDate>2022-06-03T08:01:55</CreateDate>
    <NodeName Default="Cherry Ice Cream" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="0eeb6de5-cc51-4772-ae99-4b923cd38a89">Product</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Cherry Ice Cream]]></Value>
    </description>
    <productImage>
      <Value><![CDATA[{"src":"/media/5wij4grb/portfolio-2.jpg"}]]></Value>
    </productImage>
    <productName>
      <Value><![CDATA[Cherry Ice Cream]]></Value>
    </productName>
    <productPrice>
      <Value><![CDATA[25]]></Value>
    </productPrice>
  </Properties>
</Content>