<?xml version="1.0" encoding="utf-8"?>
<Content Key="c43917bc-88d7-4731-9054-d25920692c4d" Alias="Cherry Ice Cream" Level="3">
  <Info>
    <Parent Key="8c1c68fd-247e-4458-bfd0-7dacd25015fa">Products</Parent>
    <Path>/Home/Products/CherryIceCream</Path>
    <Trashed>false</Trashed>
    <ContentType>product</ContentType>
    <CreateDate>2022-06-01T07:03:40</CreateDate>
    <NodeName Default="Cherry Ice Cream" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="0eeb6de5-cc51-4772-ae99-4b923cd38a89">Product</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Cherry Ice Cream]]></Value>
    </description>
    <productImage>
      <Value><![CDATA[{"src":"/media/pcrnb3wn/portfolio-2.jpg"}]]></Value>
    </productImage>
    <productName>
      <Value><![CDATA[Cherry Ice Cream]]></Value>
    </productName>
    <productPrice>
      <Value><![CDATA[25]]></Value>
    </productPrice>
  </Properties>
</Content>