<?xml version="1.0" encoding="utf-8"?>
<Content Key="8c0e92e7-9268-4f9f-a318-d360443b66e5" Alias="Contact Us" Level="2">
  <Info>
    <Parent Key="ae96bc4a-d0e5-4f17-b6bf-38c31d529773">Home</Parent>
    <Path>/Home/ContactUs</Path>
    <Trashed>false</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2022-05-30T14:01:10</CreateDate>
    <NodeName Default="Contact Us" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3b2c3037-bc52-4e71-a698-0fcfe6a1ae0b">Page</Template>
  </Info>
  <Properties>
    <pageBody>
      <Value><![CDATA[{
  "name": "One Column",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "Headline",
          "id": "2d3b1008-936d-43f8-9a44-f90c77b1795a",
          "areas": [
            {
              "grid": "12",
              "controls": [],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        },
        {
          "name": "Article",
          "id": "7cb5c4ae-a400-4679-8cd1-d9e7ff034352",
          "areas": [
            {
              "grid": "4",
              "controls": [
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 1098,
                    "udi": "umb://media/efceff9589fc4720a46ec43eb1ea84d3",
                    "image": "/media/sp5n3152/product-2.jpg"
                  },
                  "editor": {
                    "alias": "media",
                    "view": "media"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            },
            {
              "grid": "8",
              "controls": [
                {
                  "value": "<p>Product: Sundae Ice Cream</p>",
                  "editor": {
                    "alias": "rte",
                    "view": "rte"
                  },
                  "styles": null,
                  "config": null
                },
                {
                  "value": {
                    "macroAlias": "YoutubeEmbedPlayer",
                    "macroParamsDictionary": {
                      "youtubeId": "d5MXqurkv20"
                    }
                  },
                  "editor": {
                    "alias": "macro",
                    "view": "macro"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </pageBody>
    <richText>
      <Value><![CDATA[]]></Value>
    </richText>
  </Properties>
</Content>