<?xml version="1.0" encoding="utf-8"?>
<Content Key="0068a06c-1977-4faf-b092-8a6a9853eb8a" Alias="DE Home" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/DEHome</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2022-06-03T08:01:55</CreateDate>
    <NodeName Default="DE Home">
      <Name Culture="en-us">DE Home</Name>
      <Name Culture="de">Home (1)</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="de">true</Published>
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="856e190c-f85c-4935-8ee6-afafbdcf0baa">Home</Template>
  </Info>
  <Properties>
    <address>
      <Value Culture="en-us"><![CDATA[123 Street, New York]]></Value>
      <Value Culture="de"><![CDATA[German Office Address]]></Value>
    </address>
    <carouselSlider>
      <Value><![CDATA[umb://document/672a87f84e4547229e16db57b3123fcb]]></Value>
    </carouselSlider>
    <copyrightText>
      <Value Culture="en-us"><![CDATA[2022. i-Cream]]></Value>
      <Value Culture="de"><![CDATA[German Copyright Text]]></Value>
    </copyrightText>
    <facebook>
      <Value><![CDATA[https://www.facebook.com]]></Value>
    </facebook>
    <googleAnalyticsTrackingId>
      <Value><![CDATA[UA-221746781-1]]></Value>
    </googleAnalyticsTrackingId>
    <linkedIn>
      <Value><![CDATA[https://www.linkedin.com]]></Value>
    </linkedIn>
    <logo>
      <Value><![CDATA[[]]]></Value>
    </logo>
    <openingHours>
      <Value Culture="en-us"><![CDATA[<p>Mon - Sat, 8AM - 5PM</p>
<p>Sunday: Closed</p>]]></Value>
      <Value Culture="de"><![CDATA[<p>Opening Hours</p>]]></Value>
    </openingHours>
    <phone>
      <Value Culture="en-us"><![CDATA[+012 345 67890]]></Value>
      <Value Culture="de"><![CDATA[+31616821378]]></Value>
    </phone>
    <twitter>
      <Value><![CDATA[https://www.twitter.com]]></Value>
    </twitter>
  </Properties>
</Content>