<?xml version="1.0" encoding="utf-8"?>
<Content Key="5d8b5b8b-1e30-4c40-91d5-4f64895a747b" Alias="New Icecream Blog Article" Level="103">
  <Info>
    <Parent Key="40a2d9b7-2d79-4687-a76c-a3584a692596">Articles</Parent>
    <Path>/[-20]/DEHome/Articles/NewIcecreamBlogArticle</Path>
    <Trashed Parent="40a2d9b7-2d79-4687-a76c-a3584a692596">true</Trashed>
    <ContentType>article</ContentType>
    <CreateDate>2022-06-03T08:01:55</CreateDate>
    <NodeName Default="New Icecream Blog Article">
      <Name Culture="en-us">New Icecream Blog Article</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="fd11575f-89de-4b9c-8584-9eb72e815318">Article</Template>
  </Info>
  <Properties>
    <articleContent>
      <Value><![CDATA[New Icecream Blog Article]]></Value>
    </articleContent>
    <authorName>
      <Value><![CDATA[John]]></Value>
    </authorName>
    <authorTitle>
      <Value><![CDATA[Documentation]]></Value>
    </authorTitle>
    <featuredImage>
      <Value><![CDATA[umb://media/dac90d6fb3b640cb9c9c73ae24d6f0eb]]></Value>
    </featuredImage>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <summary>
      <Value><![CDATA[New Icecream Blog Article]]></Value>
    </summary>
  </Properties>
</Content>