<?xml version="1.0" encoding="utf-8"?>
<Content Key="bf132e92-d5ed-4def-89aa-f9e07bf614da" Alias="New Icecream Blog Article" Level="3">
  <Info>
    <Parent Key="938d11b8-e150-4f01-8caf-5d8c231350d1">Articles</Parent>
    <Path>/Home/Articles/NewIcecreamBlogArticle</Path>
    <Trashed>false</Trashed>
    <ContentType>article</ContentType>
    <CreateDate>2022-05-31T08:31:52</CreateDate>
    <NodeName Default="New Icecream Blog Article" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="fd11575f-89de-4b9c-8584-9eb72e815318">Article</Template>
  </Info>
  <Properties>
    <articleContent>
      <Value><![CDATA[New Icecream Blog Article]]></Value>
    </articleContent>
    <authorName>
      <Value><![CDATA[John]]></Value>
    </authorName>
    <authorTitle>
      <Value><![CDATA[Documentation]]></Value>
    </authorTitle>
    <featuredImage>
      <Value><![CDATA[umb://media/dac90d6fb3b640cb9c9c73ae24d6f0eb]]></Value>
    </featuredImage>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <summary>
      <Value><![CDATA[New Icecream Blog Article]]></Value>
    </summary>
  </Properties>
</Content>