<?xml version="1.0" encoding="utf-8"?>
<Content Key="49cf5adb-e350-4bf4-9f31-0fff987239f2" Alias="Products" Level="102">
  <Info>
    <Parent Key="0068a06c-1977-4faf-b092-8a6a9853eb8a">DE Home</Parent>
    <Path>/[-20]/DEHome/Products</Path>
    <Trashed Parent="0068a06c-1977-4faf-b092-8a6a9853eb8a">true</Trashed>
    <ContentType>products</ContentType>
    <CreateDate>2022-06-03T08:01:55</CreateDate>
    <NodeName Default="Products" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="33c8345c-1b48-48a1-ac0f-3fb6f7778a4d">Products</Template>
  </Info>
  <Properties>
    <pageBody>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "Headline",
          "id": "ec15cf2c-13a4-49fe-b943-f1cbd631cea2",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": "Products",
                  "editor": {
                    "alias": "headline",
                    "view": "textstring"
                  },
                  "styles": null,
                  "config": null
                },
                {
                  "value": {
                    "macroAlias": "ProductsListing",
                    "macroParamsDictionary": {}
                  },
                  "editor": {
                    "alias": "macro",
                    "view": "macro"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </pageBody>
  </Properties>
</Content>