<?xml version="1.0" encoding="utf-8"?>
<Content Key="8c1c68fd-247e-4458-bfd0-7dacd25015fa" Alias="Products" Level="2">
  <Info>
    <Parent Key="ae96bc4a-d0e5-4f17-b6bf-38c31d529773">Home</Parent>
    <Path>/Home/Products</Path>
    <Trashed>false</Trashed>
    <ContentType>products</ContentType>
    <CreateDate>2022-05-30T14:01:10</CreateDate>
    <NodeName Default="Products" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="33c8345c-1b48-48a1-ac0f-3fb6f7778a4d">Products</Template>
  </Info>
  <Properties>
    <pageBody>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "Headline",
          "id": "ec15cf2c-13a4-49fe-b943-f1cbd631cea2",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": "Products",
                  "editor": {
                    "alias": "headline",
                    "view": "textstring"
                  },
                  "styles": null,
                  "config": null
                },
                {
                  "value": {
                    "macroAlias": "ProductsListing",
                    "macroParamsDictionary": {}
                  },
                  "editor": {
                    "alias": "macro",
                    "view": "macro"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </pageBody>
  </Properties>
</Content>