<?xml version="1.0" encoding="utf-8"?>
<Content Key="de4afb89-ccf0-4ec0-8907-05621addcb02" Alias="Submit article" Level="102">
  <Info>
    <Parent Key="0068a06c-1977-4faf-b092-8a6a9853eb8a">DE Home</Parent>
    <Path>/[-20]/DEHome/SubmitArticle</Path>
    <Trashed Parent="0068a06c-1977-4faf-b092-8a6a9853eb8a">true</Trashed>
    <ContentType>form</ContentType>
    <CreateDate>2022-06-03T08:01:55</CreateDate>
    <NodeName Default="Submit article" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3b4933f6-9697-4608-bafc-5095b80dc30f">Form</Template>
  </Info>
  <Properties />
</Content>