<?xml version="1.0" encoding="utf-8"?>
<Content Key="2d9a1ad4-e6aa-4dc7-a0b9-43c75d0b39ae" Alias="Submit article" Level="2">
  <Info>
    <Parent Key="ae96bc4a-d0e5-4f17-b6bf-38c31d529773">Home</Parent>
    <Path>/Home/SubmitArticle</Path>
    <Trashed>false</Trashed>
    <ContentType>form</ContentType>
    <CreateDate>2022-05-31T07:27:50</CreateDate>
    <NodeName Default="Submit article" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3b4933f6-9697-4608-bafc-5095b80dc30f">Form</Template>
  </Info>
  <Properties />
</Content>