<?xml version="1.0" encoding="utf-8"?>
<Content Key="fa8ee7b5-311f-400e-b422-ff0778433bc5" Alias="Vanilla Icecream" Level="3">
  <Info>
    <Parent Key="8c1c68fd-247e-4458-bfd0-7dacd25015fa">Products</Parent>
    <Path>/Home/Products/VanillaIcecream</Path>
    <Trashed>false</Trashed>
    <ContentType>product</ContentType>
    <CreateDate>2022-05-30T14:01:10</CreateDate>
    <NodeName Default="Vanilla Icecream" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="0eeb6de5-cc51-4772-ae99-4b923cd38a89">Product</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Vanilla Icecream]]></Value>
    </description>
    <productImage>
      <Value><![CDATA[{"src":"/media/ofjhpsaf/carousel-1.jpg","focalPoint":{"left":0.54254963605770412,"top":0.3804488802697728}}]]></Value>
    </productImage>
    <productName>
      <Value><![CDATA[Vanilla Icecream]]></Value>
    </productName>
    <productPrice>
      <Value><![CDATA[20]]></Value>
    </productPrice>
  </Properties>
</Content>