<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="badd5de1-a108-4c3b-9453-beda86f051f3" Alias="Learn More" Level="0">
  <Info />
  <Translations>
    <Translation Language="de">Lern mehr</Translation>
    <Translation Language="en-US">Learn More</Translation>
    <Translation Language="fr">apprendre encore plus</Translation>
  </Translations>
</Dictionary>