<?xml version="1.0" encoding="utf-8"?>
<Macro Key="35871e91-239d-4fae-841d-46ef8261746f" Alias="ProductsListing" Level="0">
  <Name>ProductsListing</Name>
  <MacroSource>~/Views/MacroPartials/ProductsListing.cshtml</MacroSource>
  <MacroType>PartialView</MacroType>
  <UseInEditor>true</UseInEditor>
  <DontRender>false</DontRender>
  <CachedByMember>false</CachedByMember>
  <CachedByPage>false</CachedByPage>
  <CachedDuration>0</CachedDuration>
  <Properties />
</Macro>