<?xml version="1.0" encoding="utf-8"?>
<Macro Key="416728be-e907-4643-8725-f76116d4bf8e" Alias="YoutubeEmbedPlayer" Level="0">
  <Name>Youtube Embed Player</Name>
  <MacroSource>~/Views/MacroPartials/Youtube Embed Player.cshtml</MacroSource>
  <MacroType>PartialView</MacroType>
  <UseInEditor>true</UseInEditor>
  <DontRender>false</DontRender>
  <CachedByMember>false</CachedByMember>
  <CachedByPage>false</CachedByPage>
  <CachedDuration>0</CachedDuration>
  <Properties>
    <Property>
      <Name>YoutubeId</Name>
      <Alias>youtubeId</Alias>
      <SortOrder>0</SortOrder>
      <EditorAlias>Umbraco.TextBox</EditorAlias>
    </Property>
  </Properties>
</Macro>